
<div class="import_form">
<%= form_for(@importer, remote:true ) do |f| %>
    <%= f.label :csv, "Upload CSV File" %>
    <%= f.file_field :csv, required: true %>
    <%= f.button :Submit %>
<% end %>
</div>