<p>
  <strong>Keyword:</strong>
  <%= @keyword.keyword %>
</p>

<p>
  <%= @google_data %>
</p>

<%= line_chart [
                   {name: "Google", data: @google_data},
                   {name: "Google Base", data: @google_base_data},
                   {name: "Bing", data: @bing_data},
                   {name: "Yahoo", data: @yahoo_data},
               ], library: {scales: {yAxes: [{ticks: {reverse: true}}]}} %>

<%= line_chart [
                   {name: "gsv", data: @gsv}
               ], library: {scales: {yAxes: [{ticks: {reverse: true}}]}} %>


