<%= render 'importers/index' %>

<h2> testing </h2>
<% @sites.each do |site| %>
  <br>
  <tr>
    <td><%= site.site %></td>
  </tr>
  <%= render partial: 'keywords/keyword', locals:{site: site} %>
<% end %>

<script>
    $(document).ready(function() {
        $('#btnShow').click(function () {
        });
    });
</script>
